.imagePostBlock{
  min-width: 365px;
  margin: 0px auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 0px black;
  .authorPart{
    padding: 10px;
    display: flex;
    align-items: center;
    a{
      text-decoration: transparent;      
      color: black;
    }
    .author__image{
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
    .author__name{
      font-weight: 500;
      margin-left: 10px;
    }
  }
  .image__thumbnail{
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    padding-bottom: 5px;
  }
  .articlePart{
    margin: 0px 10px;
    .article__author{
      font-weight: 500;
    }
    .articleDetail{
      text-decoration: transparent;
      .article__text{
        color: black;
        word-break: break-all;
      }
      .article__long{
        color: #333333;
        font-weight: 500;
      }
    }
  }
  .otherPart{
    display: flex;
    .likesPart{
      padding: 10px;
      .fas.fa-heart{
        background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 20px;
      }
      .likes__count{
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .commentsPart{
      padding: 10px;
      .far.fa-comment-alt{
        color: black;
        font-size: 20px;
      }
      .comments__count{
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .timePart{
      margin-top: 13px;
      .post__time{
        font-size: 15px;
        font-weight: 500;
      }
    }
    .removePart{
      margin-left: 5px;
      margin-top: 10px;
      i{
        padding: 5px;
        background-color: #bfbfbf;
        border-radius: 40%;
        font-size: 20px;
        color: black;
      }
    }
  }
}