html {
  height: 100%; }

body {
  height: 100%;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  body .under__header {
    width: 100%;
    padding-top: 100px; }

main {
  min-height: calc(100vh - 180px); }

.imagePostBlock {
  min-width: 365px;
  margin: 0px auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 0px black; }
  .imagePostBlock .authorPart {
    padding: 10px;
    display: flex;
    align-items: center; }
    .imagePostBlock .authorPart a {
      text-decoration: transparent;
      color: black; }
    .imagePostBlock .authorPart .author__image {
      width: 30px;
      border-radius: 50%; }
    .imagePostBlock .authorPart .author__name {
      font-weight: bold;
      margin-left: 10px; }
  .imagePostBlock .image__thumbnail {
    object-fit: cover;
    width: 100%;
    height: 375px;
    padding-bottom: 5px; }
  .imagePostBlock .articlePart {
    margin: 0px 10px; }
    .imagePostBlock .articlePart .article__author {
      font-weight: bold; }
    .imagePostBlock .articlePart .article__long {
      color: #333333;
      font-weight: 700; }
  .imagePostBlock .likesPart {
    padding: 10px;
    display: flex; }
    .imagePostBlock .likesPart .fas.fa-heart {
      background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 20px; }

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  box-shadow: 0px 3px 20px 0px grey; }
  .header .header__wrapper {
    padding: 10px 0px;
    width: 100%;
    min-width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center; }
    .header .header__wrapper .header__column i {
      background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 50px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: flex;
      color: transparent;
      font-weight: bold;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul a {
        font-size: 15px;
        color: Black;
        text-decoration: transparent; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 10px; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        width: 100%;
        padding: 7px 10px;
        border: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px gray; }

.footer {
  background-color: #bfbfbf;
  box-shadow: 0px -3px 10px 0px gray;
  min-width: 375px; }
  .footer .footer__wrapper {
    width: 375px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px; }
    .footer .footer__wrapper .footer__icon {
      color: rgba(0, 0, 0, 0.2);
      font-size: 30px; }
    .footer .footer__wrapper .footer__text {
      color: rgba(0, 0, 0, 0.2);
      font-weight: 800;
      text-transform: uppercase; }

.wawa {
  width: 300px; }
