html {
  height: 100%; }

body {
  height: 100%;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  body .under__header {
    width: 100%;
    padding-top: 80px; }

main {
  min-height: calc(100vh - 185px); }

.imagePostBlock {
  min-width: 365px;
  margin: 0px auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 0px black; }
  .imagePostBlock .authorPart {
    padding: 10px;
    display: flex;
    align-items: center; }
    .imagePostBlock .authorPart a {
      text-decoration: transparent;
      color: black; }
    .imagePostBlock .authorPart .author__image {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%; }
    .imagePostBlock .authorPart .author__name {
      font-weight: 500;
      margin-left: 10px; }
  .imagePostBlock .image__thumbnail {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    padding-bottom: 5px; }
  .imagePostBlock .articlePart {
    margin: 0px 10px; }
    .imagePostBlock .articlePart .article__author {
      font-weight: 500; }
    .imagePostBlock .articlePart .articleDetail {
      text-decoration: transparent; }
      .imagePostBlock .articlePart .articleDetail .article__text {
        color: black;
        word-break: break-all; }
      .imagePostBlock .articlePart .articleDetail .article__long {
        color: #333333;
        font-weight: 500; }
  .imagePostBlock .otherPart {
    display: flex; }
    .imagePostBlock .otherPart .likesPart {
      padding: 10px; }
      .imagePostBlock .otherPart .likesPart .fas.fa-heart {
        background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 20px; }
      .imagePostBlock .otherPart .likesPart .likes__count {
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500; }
    .imagePostBlock .otherPart .commentsPart {
      padding: 10px; }
      .imagePostBlock .otherPart .commentsPart .far.fa-comment-alt {
        color: black;
        font-size: 20px; }
      .imagePostBlock .otherPart .commentsPart .comments__count {
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500; }
    .imagePostBlock .otherPart .timePart {
      margin-top: 13px; }
      .imagePostBlock .otherPart .timePart .post__time {
        font-size: 15px;
        font-weight: 500; }
    .imagePostBlock .otherPart .removePart {
      margin-left: 5px;
      margin-top: 10px; }
      .imagePostBlock .otherPart .removePart i {
        padding: 5px;
        background-color: #bfbfbf;
        border-radius: 40%;
        font-size: 20px;
        color: black; }

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  box-shadow: 0px 3px 20px 0px grey; }
  .header .header__wrapper {
    padding: 0px 0px;
    min-height: 80px;
    width: 100%;
    min-width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center; }
    .header .header__wrapper .header__column i {
      padding-left: 5px;
      background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 50px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      padding-right: 5px;
      display: flex;
      align-items: center;
      color: transparent;
      font-weight: 500;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul a {
        font-size: 15px;
        color: Black;
        text-decoration: transparent; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 10px; }
      .header .header__wrapper .header__column ul img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px black; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        width: 100%;
        padding: 7px 10px;
        border: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px gray; }

.footer {
  background-color: #bfbfbf;
  box-shadow: 0px -3px 10px 0px gray;
  min-width: 375px; }
  .footer .footer__wrapper {
    width: 375px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px; }
    .footer .footer__wrapper .footer__icon {
      color: rgba(0, 0, 0, 0.2);
      font-size: 30px; }
    .footer .footer__wrapper .footer__text {
      color: rgba(0, 0, 0, 0.2);
      font-weight: 800;
      text-transform: uppercase; }

.miniPostBlock .miniPostImage {
  width: 33vw;
  height: 33vw;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px gray;
  margin: 0px 0.15vw; }

.wawa {
  width: 300px; }

.userDetailPage {
  box-shadow: 0px 10px 10px 0px #d9d9d9;
  padding-bottom: 10px; }
  .userDetailPage .userProfileGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 20px;
    height: 130px; }
    .userDetailPage .userProfileGroup .userImage {
      margin: auto;
      grid-row: 1 / 3;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50px;
      box-shadow: 0px 0px 10px 0px black; }
    .userDetailPage .userProfileGroup .userNickname {
      margin: auto 0px;
      font-weight: 500;
      grid-column: 2 / 5; }
    .userDetailPage .userProfileGroup .userDescription {
      margin: auto 0px;
      grid-column: 2 / 5; }
  .userDetailPage .userActivityGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100px;
    justify-items: center; }
    .userDetailPage .userActivityGroup i {
      font-size: 25px; }
    .userDetailPage .userActivityGroup .fas.fa-heart {
      background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .userDetailPage .userActivityGroup a {
      font-weight: 500;
      font-size: 25px; }
  .userDetailPage .userSimpleController button {
    height: 30px;
    box-shadow: 0px 0px 10px 0px gray;
    border: transparent;
    border-radius: 10px;
    background-color: white;
    margin: 3px 5vw;
    width: 90vw; }
  .userDetailPage .userPostsList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-column-gap: 0px; }
